@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@tailwind base;
@tailwind components;
@tailwind utilities;

:root[class="light"] {
  --background: #ffffff;
  --foreground: #171717;
}

:root[class="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans); */
  --font-sans: var(--font-roboto-sans);
  /* --font-mono: var(--font-geist-mono); */
  /* --font-mono: var(--font-roboto-mono); */
  --font-mono: var(--font-source-code-pro);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Roboto', sans-serif, 'Source Code Pro', monospace; */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.solid-bg{
  background-color: var(--background);
  color: var(--foreground);
}

/* Add smooth transitions for all theme-related changes */
/* *, *::before, *::after {
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
} */

/* Gradient Mask Button Responsive Size*/
@media (max-width: 768px) { /* Medium size or lower */
  .gradient-mask-button {
    width: 10.2rem; /* Smaller width */
    height: 11.5rem; /* Smaller height */
  }
}

@media (min-width: 769px) { /* Medium size and above */
  .gradient-mask-button {
    width: 12rem; /* Original width */
    height: 13rem; /* Original height */
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.animate-scroll {
  animation: scroll 10s linear infinite; /* Adjust time as needed */
  display: inline-flex;
  white-space: nowrap;
}

/* To ensure smooth looping, we need the content to be at least 2x the width */
.animate-scroll > span {
  flex-shrink: 0;
}


.text-gradient-mask {
  color: var(--foreground);
  background: var(--shader-canvas);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-clip: text;
  transition: all 0.5s ease-in-out;
}

.text-gradient-mask::after {
  color: var(--foreground);
}

.text-gradient-mask.active {
  color: transparent;
  background: var(--shader-canvas);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-clip: text;
}