@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@tailwind base;
@tailwind components;
@tailwind utilities;

:root[class="light"] {
  --background: #ffffff;
  --foreground: #171717;
}

:root[class="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans); */
  --font-sans: var(--font-roboto-sans);
  /* --font-mono: var(--font-geist-mono); */
  /* --font-mono: var(--font-roboto-mono); */
  --font-mono: var(--font-source-code-pro);
  /* --text-20xl: 233px;
  --text-30xl: 365px; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* Add smooth transitions for all theme-related changes */
/* *, *::before, *::after {
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
} */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.animate-scroll {
  animation: scroll 10s linear infinite; /* Adjust time as needed */
  display: inline-flex;
  white-space: nowrap;
}

/* To ensure smooth looping, we need the content to be at least 2x the width */
.animate-scroll > span {
  flex-shrink: 0;
}

/* .text-gradient-mask {
  background: var(--foreground);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.text-gradient-mask.active {
  background: linear-gradient(0deg, rgba(255, 0, 0, 1), rgba(0, 0, 255, 1));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
} */

.text-gradient-mask {
  color: var(--foreground);
  background: url(https://cdn.pixabay.com/photo/2016/03/28/12/35/cat-1285634_1280.png);
  background-clip: text;
}

.text-gradient-mask {
  color: var(--foreground);
  transition: all 0.5s ease-in-out;
}

/* .text-gradient-mask::after {
  color: transparent;
  background: url(https://cdn.pixabay.com/photo/2016/03/28/12/35/cat-1285634_1280.png);
  background-clip: text;
} */

.text-gradient-mask.active {
  color: transparent;
  background: url(https://cdn.pixabay.com/photo/2016/03/28/12/35/cat-1285634_1280.png);
  background-clip: text;
}

/* .text-gradient-mask.active::after {
  color: var(--foreground);
  background: url(https://cdn.pixabay.com/photo/2016/03/28/12/35/cat-1285634_1280.png);
  background-clip: text;
} */
